@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/@near-wallet-selector/modal-ui/styles.css";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  pointer-events: all !important;
  background: #14162b;
  color: #fff;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.testclass .ReactVirtualized__Table__row:last-child div div {
  border-bottom: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.h2b {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.h5 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.h6 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}